<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <connectionStrings>
    <add name="NegoShoeTracker.Library.Properties.Settings.NegoShoeConnectionString" connectionString="Data Source=PEDHGA137\SQL2012;Initial Catalog=NegoShoe;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="NegoShoeEntities" connectionString="metadata=res://*/Data.NegoShoeModel.csdl|res://*/Data.NegoShoeModel.ssdl|res://*/Data.NegoShoeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PEDHGA137\SQL2012;initial catalog=NegoShoe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>